.card {
    width: 450px;
    background-color: white;
    color: hsl(224, 23%, 55%);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}

:root {
-paleBlue: hsl(225, 100%, 94%);
-brightBlue: hsl(245, 75%, 52%);
-veryPaleBlue: hsl(225, 100%, 98%);
-desaturatedBlue: hsl(224, 23%, 55%);
-darkBlue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
}

.hero {
    width: 100%;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container > * {
    margin: 13px 0;
}

.orderDescription {
    line-height: 25px;
}

.planContainer {
    font-size: 16px;
    background-color: hsl(225, 100%, 98%);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.planContainer a {
    color:hsl(245, 75%, 52%);
    font-size: 13px;
    font-weight: 700;
}

.planContainer a:hover {
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}

.planContainer strong {
    color:hsl(223, 47%, 23%)
}

.planDescription {
    line-height: 20px;
    margin-right: 75px;
}

button {
    width: 100%;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9res;
    border-radius: 12px;
}

.proceedButton {
    background-color: hsl(245, 75%, 52%);
    padding: 1rem 0;
    color:hsl(225, 100%, 98%);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    
}

.proceedButton:hover {
    opacity: 0.8;
}

.cancelButton {
    background-color: white;
    color: hsl(224, 23%, 55%);
    margin-top: 22px;
}

.cancelButton:hover {
    color: black;
}